In [1]:
a={1,2,3}
print(type(a))

<class 'set'>

In [2]:
a=set()
type(a)

set

In [3]:
a={1,2}
type(a)

set

In [4]:
a={1,2,5}
b={1,3,2}
# mutable
# no indexing 
# no duplivate values
# unordered

In [5]:
a={1,2,5,5,7,8,9,4}
a

{1, 2, 4, 5, 7, 8, 9}

In [6]:
a={"appple","ball","apple",1,2,"@"}
a

{1, 2, '@', 'apple', 'appple', 'ball'}

In [8]:
d=a
list(d)

['@', 1, 2, 'apple', 'appple', 'ball']

In [10]:
#update sff
a={1,2,3}
b={4,5,3}
a.update(b)
print(a)

{1, 2, 3, 4, 5}

In [ ]:
s=set()
n=int(input("enter n= "))
for i in range(n):
    x=int(input("enter x="))
    s.add(x)
print(s)
d=s

list(d)

In [1]:
a={(1,2,3),(2,5,6)}
a

{(1, 2, 3), (2, 5, 6)}

In [3]:
abc={"ram","shyam","hari"}
xyz={"ram","hsas","hari","surn"}
abc.union(xyz)

{'hari', 'hsas', 'ram', 'shyam', 'surn'}

In [7]:
abc={"ram","shyam","hari"}
xyz={"ram","hsas","hari","surn"}
abc.intersection(xyz)
xyz.difference(abc)  #complement=difference

{'hsas', 'surn'}

In [2]:
abc={"ram","shyam","hari"}
xyz={"ram","hsas","hari","surn"}
mnk={"ram"}

abc.intersection(xyz,mnk)

{'ram'}

In [6]:
abc={"ram","shyam","hari"}
xyz={"ram","hsas","hari","shyam","surn"}
abc.issubset(xyz)

True

In [8]:
#a={(1,2,3),(5,6,4)}
a=[{1,2,3},{2,3,4}]
a

[{1, 2, 3}, {2, 3, 4}]