In [2]:
a = [[],[],[],[]]
print(a)
print(type(a))
print(len(a))

[[], [], [], []]
<class 'list'>
4

In [5]:
a = [[1,2,3],[4,5,6],[7,8,9]]
a[2]

[7, 8, 9]

In [7]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[0][0]

1

In [11]:
data = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input('Enter name = ')
    phone = int(input("Enter phone = "))
    info = [i,name,phone]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 867867878
Enter name = Shyam
Enter phone = 8869696
[[1, 'Ram', 867867878], [2, 'Shyam', 8869696]]

In [10]:
data[1]

['Shyam', 234242343]

In [12]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name}--{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 33534534
Enter name = Shyam
Enter phone = 33535354543
Ram--33534534
Shyam--33535354543

In [21]:
y = []
data = s.split('\n')[0:-1]
for i in data:
    x = i.split('--')
    y.append(x)
    
y

[['Ram', '33534534'], ['Shyam', '33535354543']]

In [23]:
a =[["Apple"]]
b = [["Ball"]]
a+b

[['Apple'], ['Ball']]

In [25]:
a = [['Apple'], ['Ball']]
a[0] = ["Ant"]
a

[['Ant'], ['Ball']]

In [34]:
a = [['Ram',"Nepal",'33534534'], ['Shyam',"USA", '33535354543']]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[1].lower():
        print(i)

Enter name = nepal
['Ram', 'Nepal', '33534534']